# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.opendb
*.obj
*.log
*.pdb
*.idb
*.cache
*.aps

# Build output
Debug/
Release/
x64/
x86/
*.exe
*.dll

# CMake (если будешь использовать)
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
